<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
    <%- include('./partials/nav') %>
        <h1>Full Menu</h1>
        <ul>
            <% restaurantMenu.forEach(item=> { %>
                <li>
                    <% if (item.rating===5){ %>
                        <% item.name +=' â­' %>
                            <% } %>
                                <strong>
                                    <%= item.name %>
                                </strong> $<%=item.price%>
                </li>
                <p>

                    <%= item.rating %>
                </p>
                <p>
                    <%= item.details %>
                </p>
                <% }); %>
        </ul>
</body>

</html>